<a href="https://colab.research.google.com/github/KalpanadeviGunasekaran/NaiveBayes/blob/main/Naive_Bayes_Titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
fdf= df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Cabin','Fare', 'Embarked']]
fdf.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Cabin     Fare Embarked
0         0       3    male  34.5      0      0   NaN   7.8292        Q
1         1       3  female  47.0      1      0   NaN   7.0000        S
2         0       2    male  62.0      0      0   NaN   9.6875        Q
3         0       3    male  27.0      0      0   NaN   8.6625        S
4         1       3  female  22.0      1      1   NaN  12.2875        S

In [ ]:
fdf["Sex"] = fdf["Sex"].replace(to_replace=fdf["Sex"].unique(), value = [1 , 0])

<ipython-input-659-9bcd0e68f30d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fdf["Sex"] = fdf["Sex"].replace(to_replace=fdf["Sex"].unique(), value = [1 , 0])

In [ ]:
#mean for normalised-losses
avg=fdf["Age"].astype("float").min(axis=0)
avg

0.17

In [ ]:
#Replace missing values with avg of age
fdf.loc[fdf["Age"].isna(), "Age"] = avg

In [ ]:
#mean for normalised-losses
avg=fdf["Fare"].astype("float").max(axis=0)
avg

512.3292

In [ ]:
#Replace missing values with avg of age
fdf.loc[fdf["Fare"].isna(), "Fare"] = avg

In [ ]:
df["Cabin"].value_counts()

B57 B59 B63 B66    3
B45                2
C89                2
C55 C57            2
A34                2
                  ..
E52                1
D30                1
E31                1
C62 C64            1
C105               1
Name: Cabin, Length: 76, dtype: int64

In [ ]:
df["Cabin"].replace(np.nan,'B96 B98',inplace=True)

In [ ]:
fdf.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Cabin       327
Fare          0
Embarked      0
dtype: int64

In [ ]:
fdf = pd.get_dummies(fdf, drop_first=True)

In [ ]:
fdf

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin_A18,Cabin_A21,Cabin_A29,...,Cabin_F,Cabin_F E46,Cabin_F E57,Cabin_F G63,Cabin_F2,Cabin_F33,Cabin_F4,Cabin_G6,Embarked_Q,Embarked_S
0,0,3,1,34.50,0,0,7.8292,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,3,0,47.00,1,0,7.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,2,1,62.00,0,0,9.6875,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,3,1,27.00,0,0,8.6625,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,3,0,22.00,1,1,12.2875,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,0,3,1,0.17,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
414,1,1,0,39.00,0,0,108.9000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
415,0,3,1,38.50,0,0,7.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
416,0,3,1,0.17,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
417,0,3,1,0.17,1,1,22.3583,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
fdf.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
             ..
Cabin_F33     0
Cabin_F4      0
Cabin_G6      0
Embarked_Q    0
Embarked_S    0
Length: 84, dtype: int64

In [ ]:
train_y = fdf["Survived"]
train_x = fdf[['Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked_Q','Embarked_S']]

In [ ]:
from sklearn.model_selection import train_test_split
train_data, val_data, train_target, val_target = train_test_split(train_x,train_y, train_size=0.8)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(train_data,train_target)
val_pred= model.predict(val_data)

In [ ]:
from sklearn.metrics import accuracy_score
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(val_target, val_pred)*100)+ "%")

Model accuracy score: 100.0000%